@font-face {
    font-family: 'Nokia Cellphone FC';
    src: url('NokiaCellphoneFC-Small.woff2') format('woff2'),
        url('NokiaCellphoneFC-Small.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

